<!DOCTYPE html>
    <title>Educanta - project sign-up</title>
    <head>
      <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  </head>    
    <body>
    <h1>Hello Educanta</h1>
      <article>
        <p>
          Submit a project to Educanta.
        </p>
      </article>
      <div>
        <form id="signup_form_project" action="submit-signup-project" method="post" enctype="multipart/form-data"> 
            <br><b>Name</b>
            <input type="text" name="name" id="name" required> <br>
            <br><b>Company ID</b>
            <input type="numeric" name="company_id" id="company_id" required> <br>
            <br><b>Start date</b>
            <input type="date" name="start_date" id="start_date" required> <br>
            <br><b>End date</b>
            <input type="date" name="end_date" id="end_date" required> <br>
            <br><b>Hours per week</b>
            <input type="numeric" name="hours_per_week" id="hours_per_week" required> <br>
            <br><b>Skills required</b>
            <input type="text" name="skills" id="skills" required> <br>
        </form>
        <br>
        <p>
          <button type="submit" form="signup_form_project" class="myButton">Submit</button>
        </p>
    </body>
    <footer>
      <img src="{{url_for('static', filename='logo_esmalte.svg')}}" width="150px"/>
  </footer>
</html>