<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script>
        function goBack() {
          window.history.back()
        }
        </script>
</head>

<body>

<h1>Something went wrong</h1>

<p>Your submission was not registered. Try again.</p>

<p><button onclick="goBack()" class="myButton">Go back</button></p>
</body>

<footer>
    <img src="{{url_for('static', filename='logo_esmalte.svg')}}" width="150px"/>
</footer>

</html>