<!DOCTYPE html>
<html>

<head>
    <title>Educanta platform</title>    
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>

<body>

<h1>Welcome to Educanta!</h1>


<p>More to come. Check out <a href="https://educanta.se">educanta.se</a></p>

</body>

<footer>
    <img src="{{url_for('static', filename='logo_esmalte.svg')}}" width="150px"/>
</footer>

</html>